<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" routerLink="">Live Posts</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavbar"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse flex" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li>
        <a class="nav-link" routerLink="/post-list">Home</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/post-add">Add Post</a>
      </li>
    </ul>
    <ul class="navbar-nav navbarRight">
      <li>
        <a class="nav-link" routerLink="/auth">Sign Up</a>
      </li>
    </ul>
  </div>
</nav>
